modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CameraServer"

[[workflows.workflow]]
name = "CameraServer"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "python analyzer.py"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9168
externalPort = 3001

[[ports]]
localPort = 9472
externalPort = 3002

[[ports]]
localPort = 9503
externalPort = 5000

[[ports]]
localPort = 9745
externalPort = 4200

[[ports]]
localPort = 9837
externalPort = 3003
